{% extends "layaouts/base.html" %}


{% block 'title' %}Crear Clientes {% endblock %}

{% block 'styles' %}
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/forms.css' %}">
{% endblock %}


{% block 'content' %}
<span class ='btn'><a href="{%url 'clientes' %}">Volver atras</a></span>
<form action="{% url 'clientes_crear' %}" method= "POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <div class = 'btn_enviar'>
        <input type="Submit" value="enviar" class = 'btn_send'>
    </div>
</form>
    
{% endblock  %}
    